#previews {
    background-color: white;
}

.singlePreview {
    background-color: beige;

    width: 300px;
    height: 150px;
    margin-right: 10px;
}

.instructionsStyle {
    height: 70px;
    line-height: 23px;
    max-height: 50%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: pre-line
}

.titleStyle {
    font-weight: bold;
}