#ingredients {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    margin: auto;
    text-align: justify;
}

#viewRecipe {
    text-align: center;
}